[submodule "config/zsh/themes/3827269"]
	path = config/zsh/themes/3827269
	url = https://gist.github.com/3827269.git
[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config/vim/pack/bundle/start/coc.nvim"]
	path = config/vim/pack/bundle/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "config/vim/pack/bundle/start/delimitMate"]
	path = config/vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "config/vim/pack/bundle/start/nerdcommenter"]
	path = config/vim/pack/bundle/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "config/vim/pack/bundle/start/vim-airline"]
	path = config/vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "config/vim/pack/bundle/start/vim-closetag"]
	path = config/vim/pack/bundle/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "config/vim/pack/bundle/start/vim-polyglot"]
	path = config/vim/pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "config/vim/pack/bundle/start/gruvbox-material"]
	path = config/vim/pack/bundle/start/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dotbot-plugins/dotbot-brewfile"]
	path = dotbot-plugins/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
