[user]
    name = Max Maximov
    email = max.maximov@gmail.com

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
    co = checkout
    st = status
    di = diff
    ci = commit
    up = remote update
    br = branch

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    default = tracking
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
